{# file: /roles/fio/templates/start_w_m.j2 #}
{# Jinja2 template to render a fio workload execution file #}
#!/bin/bash

# Add inital sleep time
# sleep 3000

# Write a timestamp to the log before fio run begins
now=$(date +'%Y_%m_%d-%H_%M_%S')
echo $now > {{ result_dir }}/result.log

# Execute workload in result dir and again log timestamp after finishing
cd {{ result_dir }}
fio {{ workload_dir }}/{{ wl_name }} >> {{ result_dir }}/result.log
cd {{ home_dir }}
echo $now >> {{ result_dir }}/result.log

# Upload results to S3
s3_dir=s3://{{ aws_s3_bucket }}/fio/{{ aws_region }}/{{ aws_instance_type  | replace('.','_')}}/{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] | replace('.','_') }}/$now/

aws s3 cp {{ home_dir }}/result.log $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/bw_bw.log $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/iops_iops.log $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/lat_clat.log $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/lat_lat.log $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/lat_slat.log $s3_dir --region=eu-central-1
aws s3 cp {{ workload_dir }}/{{ wl_name }} $s3_dir --region=eu-central-1
aws s3 cp {{ home_dir }}/facts.txt $s3_dir --region=eu-central-1
exit
