{# file: /roles/fio/templates/start_w_m.j2 #}
{# Jinja2 template to render a fio workload execution file #}
#!/bin/bash

# Add inital sleep time
# sleep 3000

# Go to result dir
cd {{ result_dir }}

# Write a timestamp to the log before fio run begins
now=$(date +'%Y_%m_%d-%H_%M_%S')
echo $now > {{ result_dir }}/result.log

# Execute workload in result dir and again log timestamp after finishing
fio {{ workload_dir }}/{{ wl_name }} >> {{ result_dir }}/result.log
now=$(date +'%Y_%m_%d-%H_%M_%S')
echo $now >> {{ result_dir }}/result.log
cd {{ home_dir }}

# Upload results to S3
s3_dir=s3://{{ aws_s3_bucket }}/fio/reproducer/{{ aws_region }}/{{ aws_instance_type  | replace('.','_')}}/{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] | replace('.','_') }}/$now/

# Move job to results dir
mv {{ workload_dir }}/{{ wl_name }} {{ result_dir }}

# Pack results
tar czf /home/ubuntu/results.tar.gz /home/ubuntu/results

# Move results into results dir
mv /home/ubuntu/results.tar.gz /home/ubuntu/results

#Copy all in dir "results" to s3
aws s3 cp {{ result_dir }}/ $s3_dir --region={{ s3_region }} --recursive

exit
